// Mobile Styles

@use '../base' as *;

.hero {
  padding: 0 0 150px;
  position: relative;
  text-align: center;
  background: linear-gradient(to top, $dark-blue-2 0%, $dark-blue-2 50%, $dark-blue-1 50%, $dark-blue-1 100%);

  &__background {
    position: absolute;
    background: url('../../assets/images/bg-curvy-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 40%;
    @include setBoxSize(100%, 100%);
  }

  .container {
    max-width: 800px;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__title {
    margin: 30px 0 20px;
    font-size: 1.7em;
    line-height: 1.5em;
  }

  &__description {
    margin-bottom: 30px;
    padding: 0 10px;
    line-height: 1.5em;
  }

  a {
    line-height: 50px;
  }
}

.features {
  margin-bottom: 150px;

  .container {
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 60px;
  }
}

.feature {
  text-align: center;

  &__img {
    margin: 0 auto;
    @include setBoxSize(65px, 65px);

    img {
      object-fit: contain;
      @include setBoxSize(100%, 100%);
    }
  }

  &__title {
    margin: 40px 0 15px;
    font-size: 1.3em;
  }
}

.how-to {
  margin-bottom: 150px;

  &__img {
    width: 100%;
  }

  &__title {
    margin: 50px 0 20px;
    font-size: 1.3em;
  }

  &__description {
    line-height: 1.5em;

    &:last-of-type {
      margin: 15px 0;
    }
  }

  &__cta {
    display: inline-flex;
    padding-bottom: 5px;
    align-items: center;
    border-bottom: 1px solid $cyan;

    img {
      margin-left: 7px;
    }

    &:hover {
      transition: border-color 200ms;
      border-color: darken($cyan, 20%);
    }

    &:hover img {
      transition: all 200ms;
      filter: brightness(0.8);
    }

    &:hover .how-to__text {
      transition: color 200ms;
      color: darken($cyan, 20%);
    }
  }

  &__text {
    font-size: .9em;
    color: $cyan;
  }
}